.headerWrapper {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  position: fixed;
  z-index: 1;
  justify-content: space-around;

  .logoWrapper {
    margin-left: 5rem;
    margin-top: 0.5rem;
    width: 13rem;
  }

  .locationWrapper {
    display: flex;

    img {
      width: 2rem;
      margin-left: 1rem;
    }

    p {
      margin: auto;
      font-size: medium;
    }
  }

  .userWrapper {
    display: flex;
    width: 25rem;
    justify-content: space-between;

    .headerButton {
      margin: auto;
      border-radius: 8px;
      background: #fff;
      box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29),
        0px 5px 10px 0px rgba(255, 174, 0, 0.26);
      display: flex;
      height: 5rem;
      padding: 0.5rem;
      cursor: pointer;

      p {
        margin: auto;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
      }

      img {
        width: 2rem;
        margin-right: 0.5rem;
      }
    }
  }
}
