.seeMoreButton {
  display: flex;
  padding: 21px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 14px;
  background: linear-gradient(141deg, #ffba26 0%, #ff9a0e 100%);
  box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29),
    0px 5px 10px 0px rgba(255, 174, 0, 0.26);
  margin-top: 3rem;
  cursor: pointer;
  p {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin: 0px;
  }
}
