.cardWrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  img {
    border-radius: 7px;
  }
  .contentImage {
    width: 22.3rem;
    height: 20rem;
  }

  .storeInfoWrapper {
    display: flex;
    .storeIcon {
      width: 5rem;
      height: 5rem;
    }
  }
  .info {
    margin-left: 1rem;
    .title {
      margin: 0px;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 26.4px */
    }
    .interestInfo {
      display: flex;
    }
    .starIcon {
      width: 2rem;
      height: 2rem;
    }
    .count {
      color: #ffb30e;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      margin: 0px;
    }
  }
  .locationFood {
    margin: auto;
    border-radius: 16px;
    background: rgba(241, 114, 40, 0.2);
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
    p {
      color: #f17228;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      margin: 0px;
    }
  }
}
