.overlayMarker {
  border-radius: 15px;
  border: 2px solid #ff7a7a;
  padding-left: 35px;
  background-color: #fff;
  .titleWrapper {
    border-radius: 12px;
    padding: 1rem;
    p {
      text-align: center;
      font-size: 18px;
      margin: 0;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
    }
  }
}
