.editorWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  position: relative;
  .editorTitle {
    font-size: 43px;
  }
  .pagination {
    font-size: 30px;
    list-style: none;

    > li {
      float: left;
      margin-left: 20px;
      width: 50px;
      height: 50px;
      > a {
        border-radius: 10px;
        border: 2px solid #ff792a;
        width: 40px;
        height: 40px;
      }
    }
  }
}
