.searchResultWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  position: relative;

  .srTitleWrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: var(--theme-gray-900, #212121);
    text-align: center;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 112%; /* 48.16px */
    img {
      cursor: pointer;
    }
  }

  .regWrapper {
    width: 70%;
    .titleWrapper {
      display: flex;
      justify-content: space-between;
      p {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      img {
        cursor: pointer;
      }
    }
  }

  .contentWrapper {
    display: flex;
    justify-content: space-between;
    .leftWrapper {
      display: grid;
      grid-template-rows: repeat(2, 40rem);
      grid-template-columns: repeat(2, 40rem);
    }
    .rigthWrapper {
      width: 50rem;
      border: 1px solid red;
    }
  }

  .pagiNationWrapper {
    align-self: start;
    display: flex;
    margin: 10rem 0 10rem 30rem;
    width: 30rem;
    height: 10rem;
    border: 1px solid red;
  }
}
