@import './common.scss';

//components
@import './components/header.scss';
@import '../styles/components/mainCard.scss';
@import '../styles/components/mainLargeCard.scss';
@import '../styles//components/loading.scss';

//pages
@import './pages/main.scss';
@import './pages/login.scss';
@import './pages/searchResult.scss';
